.b-card-author
  text-align center
  &--top
    padding-left 15px
    text-align left
  &--horizontal-center,
  &--vertical-center
    order 2
  &--vertical-center
    margin-top 15px
  &--vertical-middle
    margin-bottom: 80px;
    text-align left 
  &__name
    font-family $robotoMedium
  &__job
    color #BABABA
    margin 4px 0
  &__brand
    margin-bottom 10px
    margin-top 8px
    &--horizontal,
    &--horizontal-center,
    &--vertical-center,
    &--vertical-middle,
    &--top
      margin-bottom 0
    