.b-card-content
  padding 20px
  &--horizontal
    width 255px
  &--top
    padding 12px 0 0 0
  &--horizontal-center
    order 1
    padding 20px 0
  &--vertical-center
    padding 5px 0 50px 0
  &--vertical-middle
    padding 0 0 0 15px
    width calc(100% - 45px)