.b-card-img
  height 170px
  overflow hidden
  position relative
  width 280px
  img
    border-radius 5px 5px 0 0
    height 186px
    width 280px
  &--horizontal
    width calc(100% - 255px)
    height 231px
    img
      height 231px
      width 280px
  &--top, 
  &--horizontal-center,
  &--vertical-center,
  &--vertical-middle
    border-radius 50%
    height 45px
    width 45px
    img
      height 48px
      width 48px
  &--horizontal-center
    order 0