.b-card-position
    background #fafafa
    font-size 12px
    margin-top 6px
    padding 10px
    text-align center
    width 120px
    &--horizontal, &--top
      margin-bottom 6px
      margin-top 0
    &--horizontal-center
      flex-basis 120px
      flex-shrink 0
      margin-bottom 0
      margin-right 10px
    &--vertical-center
      margin-bottom 6px
