.b-card-text 
  margin-bottom 10px
  line-height 18px
  text-align justify
  &--horizontal, &--horizontal-center
    text-align center
  &--top, &--vertical-middle
    text-align left
  &--vertical-center
    text-align center
  