doctype html

html(lang="en")
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Prueba Tecnica
  body
    section
      .u-center-box
        .row
          .col-4
            .b-container
              .b-card-containers
                .b-card
                  .b-card__body
                    .b-card-img
                      img(src="src/img/img.jpg")
                    .b-card-content
                      .b-card-text
                        | "Plugin works flawlessly The easiest pricing plugin I've ever come across!
                        | The UI is absolutely intuitive, and it's super-easy to install, too! Thumbs up"
                        | for Elfsight
                      .b-card-author
                        .b-card-author__name Marva Flores
                        .b-card-author__job Surgical Technician
                        .b-card-author__brand 
                          img(src="src/img/brand.png")
                  .b-card-position VERTICAL
          .col-2
            .b-container
              .b-card-containers.b-card-containers--horizontal-center
                .b-card.b-card--horizontal
                  .b-card__body.b-card__body--horizontal
                    .b-card-img.b-card-img--horizontal
                      img(src="src/img/img.jpg")
                    .b-card-content.b-card-content--horizontal
                      .b-card-text.b-card-text--horizontal
                        | "Plugin works flawlessly The easiest pricing plugin I've ever come across!
                        | The UI is absolutely intuitive, and it's super-easy to install, too! Thumbs up"
                        | for Elfsight
                      .b-card-author
                        .b-card-author__name Marva Flores
                        .b-card-author__job Surgical Technician
                        .b-card-author__brand.b-card-author__brand--horizontal 
                          img(src="src/img/brand.png")
                  .b-card-position.b-card-position--horizontal DEFAULT
                .b-card.b-card--top
                  .b-card__body.b-card__body--top
                    .b-card-img.b-card-img--top
                      img(src="src/img/img.jpg")
                    .b-card-author.b-card-author--top
                        .b-card-author__name Marva Flores
                        .b-card-author__job Surgical Technician
                        .b-card-author__brand.b-card-author__brand--top 
                          img(src="src/img/brand.png")
                    .b-card-content.b-card-content--top
                      .b-card-text.b-card-text--top
                        | "Plugin works flawlessly The easiest pricing plugin I've ever come across!
                        | The UI is absolutely intuitive, and it's super-easy to install, too! Thumbs up"
                        | for Elfsight
                  .b-card-position.b-card-position--top PERSONA-CARD
                .b-card.b-card--horizontal-center
                  .b-card__body.b-card__body--horizontal-center
                    .b-card-img.b-card-img--horizontal-center
                      img(src="src/img/img.jpg")
                    .b-card-author.b-card-author--horizontal-center
                        .b-card-author__name Marva Flores
                        .b-card-author__job Surgical Technician
                        .b-card-author__brand.b-card-author__brand--horizontal-center 
                          img(src="src/img/brand.png")
                    .b-card-content.b-card-content--horizontal-center
                      .b-card-text.b-card-text--horizontal-center
                        | "Plugin works flawlessly The easiest pricing plugin I've ever come across!
                        | The UI is absolutely intuitive, and it's super-easy to install, too! Thumbs up"
                        | for Elfsight
                  .b-card-position.b-card-position--horizontal-center VERTICAL SMALL ROUNDED IMAGE
          .col-4
            .b-container
              .b-card-containers
                .b-card.b-card--vertical-center
                  .b-card__body.b-card__body--vertical-center
                    .b-card-content.b-card-content--vertical-center
                      .b-card-text.b-card-text--vertical-center
                        | "Plugin works flawlessly The easiest pricing plugin I've ever come across!
                        | The UI is absolutely intuitive, and it's super-easy to install, too! Thumbs up"
                        | for Elfsight
                    .b-card-img.b-card-img--vertical-center
                      img(src="src/img/img.jpg")
                    .b-card-author.b-card-author--vertical-center
                        .b-card-author__name Marva Flores
                        .b-card-author__job Surgical Technician
                        .b-card-author__brand.b-card-author__brand--vertical-center 
                          img(src="src/img/brand.png")
                  .b-card-position.b-card-position--vertical-center PERSONA-CARD INVERTED
                .b-card.b-card--vertical-middle
                    .b-card__body.b-card__body--vertical-middle
                      .b-card-img.b-card-img--vertical-middle
                        img(src="src/img/img.jpg")
                      .b-card-content.b-card-content--vertical-middle
                        .b-card-text.b-card-text--vertical-middle
                          | "Plugin works flawlessly The easiest pricing plugin I've ever come across!
                          | The UI is absolutely intuitive, and it's super-easy to install, too! Thumbs up"
                          | for Elfsight
                        .b-card-author.b-card-author--vertical-middle
                          .b-card-author__name Marva Flores
                          .b-card-author__job Surgical Technician
                          .b-card-author__brand.b-card-author__brand--vertical-middle 
                            img(src="src/img/brand.png")
                    .b-card-position.b-card-position--vertical-center DEFAULT SMALL ROUNDED IMAGE
                